.home{
    background-color: rgb(155, 245, 215);
}
.home img{
    border-radius: 15px;
}
.title{
    font-size: 52px;   
}
.sub-title{
    color: white;
    text-transform: uppercase;
    font-size: 18px; 
    font-weight: 500;
}
.oranged{
    color: orangered;
}